@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500&display=swap');

:root {
    /* Brand */
    --color-primary: #F23005;
    --color-secondary: #D96725;
    --color-accent: #F28705;
    --color-highlight: #F2CD5C;

    /* Accent */
    --color-olive: #5E6F3B;
    --color-forest: #2F4F3A;

    /* Neutral */
    --color-white: #ffffff;
    --color-black: #000000;

    /* Fonts */
    --font-title: "Inter", sans-serif;
    --font-text: "Krub", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.logo img {
    width: 75px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu a {
    color: var(--color-black);
}
.menu a:visited {
    color: var(--color-black);
}
.menu a:hover {
    opacity: 0.7;
}

body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    font-family: var(--font-text);
}

.off-screen-menu {
    background-color:  var(--color-white);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    left: 0;
}

ul li {
    padding: 0.5em;
    border-bottom: 1.5px solid black;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: var(--color-white);
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-right: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu:hover{
    cursor: pointer;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: var(--color-black);
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.start {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    text-align: center;
    color: white;
    padding: 1em;
}

.hero-content h1 {
    margin-bottom: 1em;
    font-family: var(--font-title);
}

.hero-content h2 {
    margin-bottom: 1em;
    font-family: var(--font-title);
}
.hero-content p {
    text-align: justify;
    line-height: 1.5em;
    text-indent: 2em;
    font-family: var(--font-text);
    margin-bottom: 1em;
}

#foto-borboleta {
    height: 200px;
    border-radius: 1em;
}